<html>
    <head>
        <title>What's the wheater Climatita?</title>
    </head>
    <body>
        <section class="section" id="ask_weather">
            <h1>Qual é o climatita dessa cidade?</h1>
            <form method="POST">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" name="city" type="text" placeholder="City Name">
                    </div>
                    <div class="control">
                        <button class="button is-info">
                            Adicionar cidade
                        </button>
                    </div>
                </div>
            </form>
        </section>

        <form action="/delete_all" method=post>
            <input type=submit value="Delete All">
        </form>

        <section class="section" id="Weather">
            <h1>Climatitas</h1>
            {% for weather in weather_data %}
            <div class="box">
                <h2>Hello {{ weather.city }}</h1>
                <h3>Temperatura de {{ weather.temperature }}° </h2>
                <figure class="image is-50x50">
                    <img src="http://api.openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                </figure>
                <div>
                    {{ weather.description }}
                </div>
                <div>
                    <b>Dica do dia: </b>{{ weather.dica }}
                </div>
                <!-- <form method="POST">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" name="city" type="text" placeholder="City Name">
                        </div>
                        <div class="control">
                            <button class="button is-info">
                                Adicionar cidade
                            </button>
                        </div>
                    </div>
                </form> -->
                <form action="{{ url_for('delete_city', city_name=weather.city) }}" method=post>
                    <input type=submit value="Delete">
                </form>
            </div>
            {% endfor %}
        </section>
    </body>
</html>